<!-- search bar -->
<div class='container search-bar'>
  <div class='search-bar-outer'>
    <div class='search-bar-inner'>
      <form action='/search'>
        <h4 class='mb-2'>尋找餐廳：</h4>
        <div class='input-group'>
          <input type='text' name='keyword' class='form-control' placeholder='輸入餐廳、分類' aria-label='Restaurant Name...' value='{{keyword}}' aria-describedby='search-button' />
          <div class='input-group-append'>
            <button class='btn btn-major' type='submit' id='search-button'><i class='fas fa-search'></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class='container mt-5'>
  <p>若須查看詳細資料，敬請點擊店家任意處</p>
  <div class='row'>
    <div class='col-md-10 col-12 mx-auto'>
      <div class='row row-cols-sm-3'>
        {{#each shops}}
          {{! 引入 json 內陣列，遞迴該陣列次數 }}
          <a href='/restaurants/{{this._id}}' class='text-secondary'>
            <div class='card mb-3'>
              <img class='card-img-top' src='{{this.image}}' alt='{{this.name}}' />
              <div class='card-body p-3'>
                <h6 class='card-title mb-1'>{{this.name}}</h6>

                <div class='restaurant-category mb-1'>
                  <i class='fas fa-utensils pr-2'></i>
                  {{this.category}}
                </div>

                <span class='badge rounded-pill text-bg-light font-weight-normal'>
                  <i class='fas fa-star fa-xs'></i>
                  {{this.rating}}
                </span>

                <div class='restaurant-category mb-1'>
                  Edit
                </div>

                <form action='/restaurants/edit/{{this._id}}' method='GET' style='display: inline;'>
                  <button type='submit'>Edit-test</button>
                </form>
                <form action='/restaurants/delete/{{this._id}}' method='POST' style='display: inline;'>
                  <button type='submit'>Delete-test</button>
                </form>
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>